<div class="container">
    <div class="header">
        <div class="header-text">
            USD 2018: Bangkok Registration
        </div>
        <div class="header-detail">
            Your Registration is not complete until you complete payment
        </div>
        <br />
        <div class="header-text">
            Verify Registration Data
        </div>
        <div class="header-detail">
            Please look over the following registration information and verify that all is corect before finalzing your order. if you would like to change somethink. please use the back button of your browser to make changes.
        </div>
        <br />
        <div class="header-text">
            Registration Information
        </div>
    </div>
    <div class="content">
        <table>
            <tr>
                <td style="width: 200px;">Name: </td>
                <td>{{formData?.FirstName}} ({{formData?.MiddleName}}) {{formData?.LastName}}</td>
            </tr>
            <tr>
                <td>Email Address: </td>
                <td>{{formData?.Email}}</td>
            </tr>
            <tr>
                <td>Affilaition/Company: </td>
                <td>{{formData?.Affiliation}}</td>
            </tr>
            <tr>
                <td>Department: </td>
                <td>{{formData?.Department}}</td>
            </tr>
            <tr>
                <td>City: </td>
                <td>{{formData?.City}}</td>
            </tr>
            <tr>
                <td>State/Province/District: </td>
                <td>{{formData?.State_Province_District}}</td>
            </tr>
            <tr>
                <td>Postal Code: </td>
                <td>{{formData?.PostalCode}}</td>
            </tr>
            <tr>
                <td>Country: </td>
                <td>{{formData?.Country}}</td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td>{{formData?.Phone}}</td>
            </tr>
            <tr>
                <td>Fax: </td>
                <td>{{formData?.Fax}}</td>
            </tr>
        </table>
        <div class="buttons">
            <button mat-raised-button color="warn" (click)="payment()">Payment Method <mat-icon>navigate_next</mat-icon> </button>
        </div>

    </div>
</div>