.container {
    width: 100%;
    position: relative;
}

.header {
    padding: 20px;
}

.header-text {
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}

.content {
    margin: 20px;
}

.content .flex {
    display: flex;
    flex-direction: row;
}

.content table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}

.content table tr {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.content table tr:nth-child(odd) {
    background-color: #eee;
}

.content table tr td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

.example-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: hidden;
}

.example-full-width {
    margin: 5px;
    margin-top: 0px;
    width: 100%;
    justify-content: space-around;
}

.example-full-width .mat-form-field {
    width: 100%;
}

.error,
.mat-hint {
    color: red;
}

.comment {
    word-wrap: break-word;
}

.buttons {
    margin: 10px;
    text-align: right;
    width: 100%;
}

.header-comment {
    font-weight: bold;
}
